---
---

<header class="site-header">
  <div class="inner">
    <a href="/" class="logo">Guide<span>Airfryer</span></a>
    <nav class="main-nav">
      <a href="/comparatifs/">Comparatifs</a>
      <a href="/guides/">Guides complets</a>
      <a href="/astuces/">Astuces & recettes</a>
      <a href="/articles/">Tous les articles</a>
    </nav>
  </div>
</header>
